.player-div{
    height: 240px;
    width: 298px;
    background: #c1c1c1;
    padding-bottom: 18px;
}
.player-contr{
	width: 100%;
}
.player-scan{
	background-color: #fff;
    float: right;
    margin-right: 6px;
}
.player-play{
	background-color: #fff;
    margin-left: 6px;
}
.player-pro{
    padding: 0 6px;
    margin-top: 2px;
}		
